@use 'src/styles/vars';

.ButtonDeconnection {
  display: inline-block;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 3px;
  padding: 0.5em;
  color: #FFFFFF;
  background-color: vars.$primary-color;
  transition: 0.5s;
  position: absolute;
  right: 15px;
  top: 25px;
  z-index: 999;
    &:hover,
    &:focus {
      color: vars.$primary-color;
      background-color: white;
    }
}
