.ButtonConnection {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 2px 0;
    border: solid 1px transparent;
    padding: 1em;
    color: #FFFFFF;
    background-color: rgb(0, 68, 255);
    transition: 0.5s;
      &:hover,
      &:focus {
        color: rgb(0, 68, 255);
        background-color: white;
      }
}
