@use 'src/styles/vars';


.exercicerecap-container{


  .exercice-title-container{
    display: flex;
    justify-content: space-between;
    margin: 2px;
    padding: 1em;
    font-size: 20px;
    font-weight: bold;
    .exercice-title{
      margin: 5px;
    }
  }
  .exercice-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
    height: 8em;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: x-small;
    border-radius: 5px;
    transition: all 0.5s ease-out;
    &:hover{
transform: scale(1.1);
    }
    .exercice-link{
      font-size: 20px;
    }

    .exercice-pregression{
      width: 100%;
      display: flex;
    }

    .exercice-pregression-container{
      width: 70%;
        .exercice-progress-weight{
        width: 100%;
        .progressbar-container{
          width: 100%;
          display: flex;
          flex-direction: column;
        }
       
      }
      .exercice-progress-repetition{
        width: 100%;
        .progressbar-container{
          width: 100%;
        }
      }
    }
    
  }

  
}
@media (min-width: vars.$breakpoint-tablet) {
  .exercices-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    .exercice-card{
      width: 50%;
      margin: 10px;
    }
    .exercice-title-container{
      width: 50%;
    }
  }
}
