.burgerliste{
  animation-name: glissements;
  animation-duration: 2.5s;
  height: 150px;
  background-color: black;
  color: white;
  position: fixed;
  right: 0;
  padding: 4em 2em;
  width: 100%;
  min-height: 100%;

    @keyframes glissements {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
}
