
// responsive breakpoints
$breakpoint-tablet: 768px;

// color themes
$primary-color:  #ff8928;
$secondary-color: #ff0028;
$lightest-color: #89cedd;
$darkest-color: #031730;
$light-color: #EEFBFB;
$input-color: rgba(0, 68, 255, 0.158);
