@use 'src/styles/vars';

.Main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .main-image-container{
   width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
    .main-title{
      color: white;
      position: absolute;
      align-self: center;
      width: 100%;
      text-shadow: black 0.1em 0.1em 0.2em;
      font-size: 3rem;
      font-weight: 1000;
    }
    .main-image{
        width: 100%;
    }
  }


  .main-section-container{
    background: white;
    top: 20%;
    margin: 0 20px 0 20px;
    width: 50%;
    .main-section{
      margin: 10px;
      font-size: 1.2em;
      padding: 2px;
      word-break: break-all;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      
      .main-section-title{
        font-weight: bold;
        
      }
      .challenge-image{
        width: 50%;
      }
    }
    .main-section iframe{
      width: 100%;
    }
  }
  
}







/*
RESPONSIVE CONDITIONS
*/

@media (max-width: 720px) {
  .Main{
    .main-image-container{
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
     .main-title{
        color: white;
        position: absolute;
        align-self: center;
        width: 100%;
        text-shadow: black 0.1em 0.1em 0.2em;
        font-size: 2rem;
        font-weight: 1000;
      }
      .main-image{
        width: 100%;
      }
    }
  
    .main-section-container{
      background: white;
      top: 20%;
      margin: 0 20px 0 20px;
      width: 100%;
    }
  }
}

@media (max-width: 375px) {
  .Main{
    .main-image-container{
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
     .main-title{
        color: white;
        position: absolute;
        align-self: center;
        width: 100%;
        text-shadow: black 0.1em 0.1em 0.2em;
        font-size: 1rem;
        font-weight: 1000;
      }
      .main-image{
        width: 100%;
      }
    }
  
    .main-section-container{
      background: white;
      top: 20%;
      margin: 0 20px 0 20px;
      width: 100%;
    }
  }
}


