@use 'src/styles/vars';
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background: black;
  font-weight: bolder;
  width: 100%;

  .logo{
    width: 10%;
    animation: 1s linear 1s  running slidein;
  }
  .header-title {
    color: white;
    font-size: x-large;
    font-weight: 1000;

    &:hover {
      cursor: pointer;
      color: rgb(0, 68, 255);
      transition: 0.5s;
    }
  }

  @media (max-width: vars.$breakpoint-tablet) {
    .navbar-container, .ButtonConnection{
      display: none;
    }
  }

  @media (min-width: 769px) {
    .BurgerMenu{
      display: none;
    }
  }
}

@keyframes slidein {
  from { transform: rotate(260deg); }
  to   { transform: scaleX(0deg); }
}
