.progressbar-container{
  height: 100%;
  width: 100%;
  background-color: #e0e0de;
  border-radius: 20px;
  .progressbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    background-color: red;
    border-radius: inherit;
    text-align: right;
    .span-progressbar{
      padding: 5px;
      color: white;
      font-weight: 'bold';
    }
  }
}
