@use 'src/styles/vars';

.profile-card {
  overflow: hidden;
  text-align: center;
  margin: 0px 0px 10px;
  
  .top-section {
    padding: 60px 40px;
    background: vars.$secondary-color;
    display: block;
  }

  .pic {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid vars.$light-color;
    border-radius: 50%;
    padding: 8px;
    position: relative;
  }

  .pic {
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      border: 1px solid vars.$light-color;
      left: 0;
      top: 0;
      box-sizing: border-box;
      border-radius: 50%;
      animation: wave 1.5s infinite linear;
    }
  }

  @keyframes wave {
    to {
      transform: scale(1.5);
      opacity: 0;
    }
  }


  .pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .name {
    color: #f1f1f1;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .tag {
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
}
